.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.uiContainer {
  border: 3px solid blue;
}


.userInputBox {
  border: 3px solid black;
  width: 100px;
  height: 100px;

}


.outputBox {
  border: 3px solid black;
  width: 100px;
  height: 100px;
}
