.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.uiContainer {
  border: 3px solid blue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.userInputBox {
  border: 3px solid black;
  min-width: 250px;
  height: 300px;
  margin: 20px;

  flex-grow: 1;

}



.outputBox {
  border: 3px solid green;
  min-width: 250px;
  height: 300px;
  margin: 20px;
  flex-grow: 1;

}
