.App {
  text-align: center;
}

.box-title {
  border-bottom: 1px dashed #000;
  padding-bottom: 5px;
  width: 75%;
  margin: 0 auto;
}

p {
  margin-bottom: 10px;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.uiContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.userInputBox {
  min-width: 250px;
  height: 300px;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 25px;
  padding-bottom: 35px;

  flex-grow: 1;
  overflow: hidden;

}

.textBox {
  border: 0;
  outline: 0;
  width: 100%;
  height: 280px;
  resize: none;
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 30px;
}

.outputContainer {
  min-width: 250px;
  height: 300px;
  margin: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 25px;

  flex-grow: 1;
  overflow: visible;

}

.outputBox {
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 20px;
  overflow: visible;
  flex-grow: 1;

}
